<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="SingupUPFrame">
		<title>SignupUI__Frame</title>
		<centered>1</centered>
		<pos>450,500</pos>
		<size>450,500</size>
		<minsize>450,500</minsize>
		<maxsize>450,500</maxsize>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="PANEL_SIGNUP" variable="Signup_PANEL" member="yes">
			<pos>450,500</pos>
			<size>450,500</size>
			<bg>#E94B3C</bg>
			<minsize>450,500</minsize>
			<maxsize>450,500</maxsize>
			<handler function="OnSignup_PANELPaint" entry="EVT_PAINT" />
			<object class="wxStaticText" name="STATICTEXT_WELCOME" variable="ST_Welcome" member="yes">
				<label>Welcome</label>
				<pos>120,16</pos>
				<fg>#FFFFFF</fg>
				<font>
					<size>36</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display</face>
				</font>
			</object>
			<object class="wxStaticText" name="STATICTEXT_FIRSTNAME" variable="ST_FirstName" member="yes">
				<label>First Name</label>
				<pos>45,100</pos>
				<fg>#FFFFFF</fg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxStaticText" name="STATICTEXT_LASTNAME" variable="ST_LastName" member="yes">
				<label>Last Name</label>
				<pos>230,100</pos>
				<fg>#F0F0F0</fg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxStaticText" name="STATICTEXT_STREETADDRESS" variable="ST_StreetAddress" member="yes">
				<label>Street Address</label>
				<pos>45,150</pos>
				<fg>#F0F0F0</fg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
				<label>State</label>
				<pos>230,150</pos>
				<size>26,16</size>
				<fg>#FFFFFF</fg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxStaticText" name="STATICTEXT_CITY" variable="ST_City" member="yes">
				<label>City</label>
				<pos>45,200</pos>
				<fg>#FFFFFF</fg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxStaticText" name="STATICTEXT_PHONE" variable="ST_Phone" member="yes">
				<label>Phone Number</label>
				<pos>230,200</pos>
				<fg>#FFFFFF</fg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
				<label>Email</label>
				<pos>45,250</pos>
				<fg>#FFFFFF</fg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxTextCtrl" name="TEXTCTRL_FIRSTNAME" variable="TC_FirstName" member="yes">
				<pos>45,120</pos>
				<size>120,25</size>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
				<handler function="OnTextCtrl1Text" entry="EVT_TEXT" />
			</object>
			<object class="wxTextCtrl" name="TEXTCTRL_LASTNAME" variable="TC_LastName" member="yes">
				<pos>230,120</pos>
				<size>120,25</size>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxTextCtrl" name="TEXTCTRL_STREETADDRESS" variable="TC_StreetAddress" member="yes">
				<pos>45,170</pos>
				<size>170,25</size>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxTextCtrl" name="TEXTCTRL_STATE" variable="TC_State" member="yes">
				<pos>230,170</pos>
				<size>120,25</size>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxTextCtrl" name="TEXTCTRL_CITY" variable="TC_City" member="yes">
				<pos>45,220</pos>
				<size>120,25</size>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxTextCtrl" name="TEXTCTRL_PHONE" variable="TC_Phone" member="yes">
				<pos>230,220</pos>
				<size>120,25</size>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxTextCtrl" name="TEXTCTRL_EMAIL" variable="TC_Email" member="yes">
				<pos>45,270</pos>
				<size>170,25</size>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Ofelia Display Medium</face>
				</font>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="B_Signup" member="yes">
				<label>Sign up</label>
				<pos>230,270</pos>
				<size>120,25</size>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
